[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
requests = "*"
jobsearch = {editable = true, path = "."}
jobsearch-bink = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.9"
